body
{
	font-size:12px;
	color:#fff;
	margin:0px;
	padding:0px;
	background-color:#eaeaea;
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; 
}
input
{
	font-size:12px;
	height:18px;
}
.citext
{
	border-width:0px 0px 0px 0px;
	color:#000000;
	width:100%;
	font-size:12px;
	font-family:"ו";
}
.MenuItem {
    CURSOR: hand; COLOR: #000000; FONT-FAMILY: verdana; BORDER-BOTTOM: #D2D2D2 1px solid;
}
.MenuItemOver{
    CURSOR: hand; COLOR: #000000; FONT-FAMILY: verdana; BACKGROUND-COLOR: #eaeaea; BORDER-BOTTOM: #D2D2D2 1px solid;
}

#menuAct
{
	width:150px;
}
#Item
{
	padding-top:2px;
	padding-left,padding-bottom,padding-right:0px;
	margin:0px;
	width:100%;
	height:29px;
	text-align:center;
}
#Item ul
{
	list-style-type:none;
	padding:0px;
	margin:0px;
}
#Item ul li
{
	float:left;
	padding-top:6px;
	margin:0px;
	color:#ff0;
	font-weight:bold;
}
.click{ color:#ff6600;CURSOR: hand;
        background-color:#91E9FF;background-image:url(../images/leftbuttonbg.gif);
	   }
.hover{ color:#FF0000;CURSOR: hand;
        background-color:#eaeaea;background-image:url(../images/leftbuttonbg.gif);
		}
.normal{
        CURSOR: hand;background-image:url(../images/leftbuttonbg.gif);
		}